# Discord Bot Token (from )
DISCORD_TOKEN=your_bot_token_here

# ID of the role that triggers the message (right-click role -> Copy ID)
TARGET_ROLE_ID=your_role_id_here

# ID of the channel to send the message in (right-click channel -> Copy ID)
CHANNEL_ID=your_channel_id_here

# Ping message sent as plain text (pings the user)
# Available placeholders: {user.mention}, {user.name}, {user.id}
PING_MESSAGE={user.mention} just joined! Hellyo~! ♡

# Embed description (wrap in quotes if it contains # or special chars)
# Use \n for new lines. Embed supports custom emojis via <:name:id>, channel mentions via #channel_id
# Available placeholders: {user.mention}, {user.name}, {user.id}
EMBED_DESCRIPTION="<:Happy:1275091838759469138> Grab your roles in #1275073147875622913\n\n<:Finger:1277935593367802007> Make sure to follow the #1275073147875622913\n\n<:Wink:1300100664290181202> Enjoy your stay and have fun ♡"

# URL for the decorative thumbnail image (top-right corner)
EMBED_THUMBNAIL_URL=https://i.imgur.com/QfIZXUD.jpeg

# URL for the large banner image (bottom of embed)
EMBED_BANNER_URL=https://i.imgur.com/krvxCEX.png

# Hex color for the embed side bar (default: Discord blurple)
# EMBED_COLOR=0x5865F2
